@charset "utf-8";
div,p,span,a,nav,input,select,textarea,ul,li,img{ margin:0; padding:0; outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box; box-sizing: border-box;}
body{ font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif; margin: 0; padding: 0; margin: 0 auto; position: relative;}
img { border: 0;display: inline-block; max-width: 100%; vertical-align: middle;}
a{ text-decoration:none; color: #222;}
ul{ list-style: none; }
dl,ul,p{ -webkit-margin-before:0em; -webkit-margin-after:0em;}
input,select,textarea{-webkit-appearance: none; font-size: .14rem; outline: none; color: #333; font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif;}
body{ font-size: .14rem; line-height: .24rem; color: #333; background: #fff; }
html,body{ height: 100%; }
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.bgcfff{ background: #fff;}
.wp100{ width: 100%;}
.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.dsn{ display: none;}
.dsb{display: block;}
.center{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);  }
.clearfix:after{ content: ""; display: block; clear: both; }
.opacity0{ opacity: 0; }
.fwb{ font-weight: bold;}
.html{ width: 100%; margin: 0 auto; position: relative; z-index: 1;}
.trans03{ -webkit-transition:all .3s; -moz-transition: all .3s; -ms-transition:all .3s;transition:all .3s;}
.trans04{ -webkit-transition:all .4s; -moz-transition: all .4s; -ms-transition:all .4s;transition:all .4s;}
.flex{display: -webkit-flex; display: flex;}

input::-webkit-input-placeholder { color: #ccc;}
textarea::-webkit-input-placeholder { color: #ccc;}

.firstpage{ position: relative; overflow: hidden; height: 4.79rem; padding-top: .15rem; background: url(../images/bg02.png) no-repeat; background-size: 100% 100%;}
.firstpage .fp-logo{ display: block; width: 1.76rem; margin-left: .15rem;}
.firstpage .fp01{ display: block; width: 3rem; margin: .3rem auto 0;}
.firstpage .fp-text{ padding: .1rem 0; font-size: .14rem; color: #fff; text-align: center;}
.firstpage .fp-left{ float: left; padding: .75rem 0 0 .2rem; text-align: center;}
.firstpage .fp-litem{ width: .73rem; height: .96rem; padding-top: .1rem; margin-bottom: .2rem; background: #fff; border-radius: .08rem;}
.firstpage .fp-ico{ display: block; width: .6rem; margin: 0 auto;}
.firstpage .fp-til{ padding-top: .02rem; font-size: .12rem; color: #333; line-height: .2rem;}
.firstpage .fp-right{ float: right; width: 1.97rem; height: 3.58rem; margin-right: .3rem; padding-top: .7rem; background: url(../images/bg1.png); background-size: 100% 100%;}
.firstpage .slider{ position: relative; width: 1.88rem; height: 1.1rem; cursor: pointer;}
.firstpage .fade{ opacity: 0;}
.firstpage .sd-item{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.firstpage .sd-item.top{ z-index: 3;}
.firstpage .sd-item.right{ z-index: 2; transform: translate3d(.6rem,0,0) scale(.7,.7); opacity: .6;}
.firstpage .sd-item.left{z-index: 2; transform: translate3d(-.6rem,0,0) scale(.7,.7); opacity: .6;}
.firstpage .sd-img{ display: block; width: 1.88rem; height: 1.1rem; border: 1px solid #C8A463;}

.cm-title{ position: relative; width: 2.69rem; height: .36rem; margin: 0 auto; background: url(../images/bg_logo.png); background-size: 100% 100%; text-align: center; font-weight: bold; font-size: .23rem; line-height: .28rem;}
.cm-title:after{ content: ""; position: absolute; left: 50%; bottom: 0; display: block; width: .3rem; height: .02rem; margin-left: -.15rem; background-color: #CB8B19;}
.cm-title.a{ background-image: url(../images/bg_logoa.png); color: #fff;}

.secpage{ padding: .35rem 0 .15rem;}
.secpage .sec-list{ padding: .38rem .2rem .15rem;}
.secpage .sec-item{ position: relative; overflow: hidden; padding: 0 0 .2rem .2rem; margin-bottom:.15rem; background:rgba(255,255,255,1); border:1px solid rgba(200,164,99,1); box-shadow:0px 3px 10px 0px rgba(200,164,99,0.25); }
.secpage .sec-item.a{border-radius:.2rem .04rem .2rem 0;}
.secpage .sec-item.b{border-radius:.04rem .2rem .04rem .2rem;}
.secpage .sec-item.c{border-radius:.2rem .04rem .2rem .04rem;}
.secpage .sec-img03a{ position: absolute; right: 0; top: 0; width: .65rem;}
.secpage .sec-img03b{ position: absolute; right: 0; bottom: 0; width: .62rem;}
.secpage .sec-img03c{ position: absolute; right: 0; bottom: 0; width: .58rem;}
.secpage .sec-til{ padding: .2rem 0 .14rem; font-size: .16rem; font-weight: bold; line-height: .2rem;}
.secpage .sec-tilin{ color: #B08840;}
.secpage .sec-lines{ font-size: .12rem; line-height: .24rem;}
.secpage .sec-line{ position: relative; padding-left: .2rem; background: url(../images/check.png) no-repeat left center; background-size: .08rem .06rem;}
.secpage .sec-type{ position: absolute; left: 115px; height: 76px; width: 298px; background: rgba(0,0,0,0);}
.secpage .sec01{ display: block;}

.thrpage{ height: 7.27rem; padding-top: .4rem; background: url(../images/thr_bg01.png); background-size: 100% 100%; overflow: hidden;}
.thrpage .thr-til{ padding: .24rem 0 .14rem; line-height: .3rem; text-align: center;}
.thrpage .thr-tila{ font-size: .12rem; color: #fff;}
.thrpage .thr-tilb{ font-size: .21rem; color: #C8A463;}
.thrpage .thr-plus{ position: relative; top: -.08rem; width: .11rem;}
.thrpage .thr-list{ text-align: center; width: 2.73rem; margin: 0 auto;}
.thrpage .thr-item{float: left; height:.63rem; width: .63rem; margin: 0 .07rem .07rem 0; padding-top: .12rem; background: #343132; color: #ccc; font-size: .1rem; line-height: .2rem;}
.thrpage .thr-img{ display: block; width: .25rem; margin: 0 auto;}
.thrpage .thr-item:nth-child(4n){ margin-right: 0;}
.thrpage .thr-ovideo{height: 3.33rem; padding-top: .68rem; margin-top: .2rem; background: url(../images/thrbg02.png) no-repeat center top; background-size: 1.73rem 3.33rem;}
.thrpage .thr-video{ display: block; width: 3.35rem; height: 1.88rem; margin: 0 auto; border: .03rem solid #B08840; background: rgb(25,23,24);}

.fourpage{padding: .35rem 0 .15rem; background: url(../images/qa.png) no-repeat left bottom; background-size: 100% 3.22rem;}
.fourpage .fop-list{ padding: .2rem .2rem 0;}
.fourpage .fop-item{ margin-bottom: .1rem; background:rgba(255,255,255,0.6); box-shadow:0px 3px 20px 0px rgba(0, 0, 0, 0.05); border-radius:.03rem;}
.fourpage .fop-item-top{ padding: .05rem 0 .05rem .3rem; background: url(../images/img05a.png) no-repeat .1rem center; background-size: .13rem .15rem; line-height: .3rem; font-weight: bold; font-size: .14rem;}
.fourpage .fop-item-arr{ width: .1rem;}
.fourpage .fop-arrt{ display: none;}
.fourpage .fop-item-bot{ display: none; overflow: hidden; padding:0 .14rem .1rem .3rem; background: url(../images/img05b.png) no-repeat .1rem .04rem; background-size: .13rem .15rem; line-height: .2rem; font-size: .12rem;}
.fourpage .fop-item.active .fop-arrd{ display: none;}
.fourpage .fop-item.active .fop-arrt{ display: inline-block;}
.fourpage .fop-more{width:1.3rem;  height:.28rem; margin: 0 auto;  border:1px solid #C8A463; border-radius:.14rem; line-height: .26rem; font-size: .14rem; color: #C8A463; text-align: center;}
.fourpage .fop-marr{ width: .1rem; margin-left: .05rem;}


.fivepage{ position: relative; padding-top: .4rem; background: url(../images/fivebg01.png) no-repeat right top #fff; background-size: 3.13rem 2.46rem; border-top: .1rem solid #f9f9f9;}
.fivepage .fip-sub{ padding: .16rem 0 .4rem; text-align: center; line-height: .2rem; font-size: .14rem;}
.fivepage .fip-subc{ color: #C1923E;}
.fivepage .fip-til{ padding-left: .2rem; font-size: .16rem; font-weight: bold; line-height: .3rem; color: #B08840;}
.fivepage .fip-tips{ padding: .1rem .2rem .2rem .2rem;}
.fivepage .fip-tip{ padding: .05rem 0 .05rem .16rem; background: url(../images/bg08.png) no-repeat left center; background-size: .09rem .09rem;}
.fivepage .fiveimg{ display: block;}
.fivepage .fip-bot{ padding: 0 .2rem .4rem;}
.fivepage .fip-ico{ display: block; height: .2rem; margin: 36px 0 5px;}
.fivepage .fip-itx{ font-size: .14rem;}
.fivepage .fip-jd{width:1.13rem; padding: .08rem; margin-top: 5px; background:#fff; box-shadow:0px 3px 20px 0px rgba(114,76,6,0.15); border-radius:.04rem;}
.fivepage .fip-tx01{ font-size: .12rem;}

.copyright{}
.copyright .cr-top{ position: relative; padding: 0 0 .2rem .2rem; background-color: #212332; color: #fff;}
.copyright .cr-ltil{ padding:.18rem 0 .15rem; font-size: .16rem; line-height: .24rem;}
.copyright .cr-lstil{ padding: 0 0 .1rem; opacity: .8; font-size: .12rem; color: #FEFEFE;}
.copyright .cr-line{ padding-left: .15rem; font-size: .11rem; line-height: .2rem; color: rgba(255,255,255,.5); background-repeat: no-repeat; background-position: left center;}
.copyright .cr-line.a{ background-image: url(../images/cr02.png); background-size: .09rem .11rem;}
.copyright .cr-line.b{background-image: url(../images/cr01.png);background-size: .08rem .11rem;}
.copyright .cr-right{  width: 1.8rem; margin-top: .15rem; line-height: .32rem; height: .32rem; background:rgba(255,255,255,.1); border-radius: .16rem; text-align: center; font-size: .1rem; color: rgba(254, 254, 254, .4);}
.copyright .cr-sear{ margin-right: 8px; width: .12rem;}
.copyright .cr-mid{ position: absolute; bottom: .18rem; right: .18rem; width: .74rem;}

.copyright .cp-bot{ background: #1B1E28; text-align: center; color:rgba(255,255,255,.4);font-size: .12rem; line-height: .48rem;}
