@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;font-family:"微软雅黑",Arial, Helvetica, sans-serif; background: #fff; font-size:14px;line-height:20px; color: #333;}
div, p, form, label,  textarea, img, span{margin:0; padding:0; border:none;}
a{ text-decoration:none; color: #222;}
a:hover{ color: #72db96; transition:color 0.2s,background 0.2s; -moz-transition:color 0.2s,background 0.2s; -webkit-transition:color 0.2s,background 0.2s;}
ul{ margin:0;   padding:0;  list-style-type:none;}
html, body { height: 100%}
img {vertical-align: middle;border: none; -ms-interpolation-mode: bicubic;}
div,p,span,a,ul,li,nav,input{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}

:root {
  --tj-primary: rgba(252,131,82, 1)
}

.flex { display: flex; display: -webkit-flex;}
.flex-ac {display: flex; display: -webkit-flex; align-items: center;}
.flex-ac-sb {display: flex; display: -webkit-flex; align-items: center; justify-content: space-between;}
.flex-ac-jc {display: flex; display: -webkit-flex; align-items: center; justify-content: center;}

.top-tab-wrap { position: relative; padding: 10px 20px 0; background-color: #ddd; position: sticky; position: -webkit-sticky; left: 0; top: 0; background: rgba(222, 222, 222, .4); backdrop-filter: blur(5px);}
.top-tab-wrap::after { content: ""; position: absolute; left: 0; bottom: 0; height: 1px; width: 100%; background: #ddd;}
.top-tab-wrap .ttw-item { position: relative; z-index: 2; padding: 0 20px; line-height: 40px; border-radius: 10px 10px 0 0; cursor: pointer;}
.top-tab-wrap .ttw-item.active { background: rgba(255, 255, 255, 1);}

.cm-topbtns { padding: 16px; column-gap: 20px; border-bottom: 1px solid #f0f0f0;}
.cm-topbtns .ct-btns { line-height: 32px; padding: 0 20px; border: 1px solid #eee; border-radius: 4px; cursor: pointer; transition: all .2s;}
.cm-topbtns .ct-btns.active { color: #fff; background: var(--tj-primary); border-color: var(--tj-primary);}

.base-content { padding: 20px;}
.base-content .chart { flex: 1; margin-left: 30px; background-color: #f9f9f9; row-gap: 10px;}
.base-content .cls-wrap { position: relative;  height: 16px; line-height: 16px; margin-bottom: 6px;}
.base-content .cls-inner { position: absolute; background-color: #ddd; height: 16px; text-align: right; }
.base-content .cls-name { position: absolute; left: -30px; text-align: right; width:26px;}

.cm-table table{border-collapse:collapse;}

.table-wrap { border-left: 1px solid #aaa; padding: 16px; overflow-y: scroll; flex: 1;}

.left-btn-wrap { width: 300px;}
.left-btn-wrap .cm-topbtns {display: flex; display: -webkit-flex; flex-direction: column; row-gap: 10px;}
.left-btn-wrap .lb-line { flex-wrap: wrap; row-gap: 10px; column-gap: 10px;}