*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{background:#f6f6f6;height:100%;}
body{height:100%;margin:0;font-size:12px;line-height:20px;font-family:arial,"\5FAE\8F6F\96C5\9ED1";-webkit-text-size-adjust:none;color:#333;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;display:inline-block;}
a{text-decoration:none;color:#333;}
input,button{ font-family:arial,"\5FAE\8F6F\96C5\9ED1";}
input,
input:focus{outline:none;}
input{-webkit-appearance:none;}
select.input{border:none;-webkit-appearance:none;}

.html {
  padding: 50px;
}
.box { width: 500px; height: 500px; background: #ddd; margin: 0 auto; overflow-y: scroll;}
.item { height: 80px; width: 80px; border: 1px solid #ddd; float: left;}
