.eui-body-no-scroll { position: fixed; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden; }
.eui-pack,.eui-pack div,.eui-pack p, .eui-pack a, .eui-pack span, .eui-pack img {
    outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-box-sizing: border-box; box-sizing: border-box;
}
.eui-pack img {
    border: 0;display: inline-block; max-width: 100%; vertical-align: middle;
}
.eui-pack p {
    margin: 0; padding: 0;
}
.eui-pack a { text-decoration:none; color: #222;}
.eui-pack .ellipsis{ white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.eui-pack {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    --eui-primary: #C79855;
    --eui-primary-light: #efe5d8;
    --eui-primary-gradient-start: #C79855;
    --eui-primary-gradient-end: #E7C28F;
}

@keyframes euiFadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes euiFadeOut {
    0%{ opacity: 1;}
    99%{ opacity: 0;}
    100%{ display: none; opacity: 0;}
}
@keyframes euiFadeInDown {
    0%{ opacity: .5; transform: translateZ(0) translateY(-110%);}
    100%{ opacity: 1; transform: translateZ(0) translateY(0);}
}
@keyframes euiFadeOutDown {
    0%{ opacity: 1; transform: translateZ(0) translateY(0);}
    100%{ opacity: .5; transform: translateZ(0) translateY(-110%);}
}

@-webkit-keyframes euiRotate{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
@keyframes euiRotate{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
@-webkit-keyframes euiRotateCenter{
    from {transform: translateZ(0) translate(-50%, -50%) rotate(0)}
    to {transform: translateZ(0) translate(-50%, -50%) rotate(360deg)}
}
@keyframes euiRotateCenter{
    from {transform: translateZ(0) translate(-50%, -50%) rotate(0)}
    to {transform: translateZ(0) translate(-50%, -50%) rotate(360deg)}
}

@keyframes euiPopupShow {
    0%{ background: rgba(0,0,0,0); }
    100%{ background: rgba(0,0,0,0.5);}
}
@keyframes euiPopupHide {
    0%{ background: rgba(0,0,0,0.5);}
    100%{ background: rgba(0,0,0,0);}
}

@keyframes popupShowCenter {
    0%{ transform: translateZ(0) translate(-50%,-50%) scale(.7,.7); opacity: 0;}
    100%{ transform: translateZ(0) translate(-50%,-50%) scale(1,1); opacity: 1;}
}
@keyframes popupHideCenter {
    0%{ transform: translateZ(0) translate(-50%,-50%) scale(1,1); opacity: 1;}
    100%{ transform: translateZ(0) translate(-50%,-50%) scale(.7,.7); opacity: 0;}
}
@keyframes popupShowBottom{
    from {transform: translateY(110%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
@keyframes popupHideBottom{
    0% { transform: translateY(0); opacity: 1;}
    100% {transform: translateY(110%); opacity: 0;}
}

@keyframes popupShowTop{
    from {transform: translateY(-110%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
@keyframes popupHideTop{
    0% { transform: translateY(0); opacity: 1;}
    100% {transform: translateY(-110%); opacity: 0;}
}

@keyframes popupShowLeft{
    from {transform: translateX(-110%); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}
@keyframes popupHideLeft{
    0% { transform: translateX(0); opacity: 1;}
    100% {transform: translateX(-110%); opacity: 0;}
}

@keyframes popupShowRight{
    from {transform: translateX(110%); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}
@keyframes popupHideRight{
    0% { transform: translateX(0); opacity: 1;}
    100% {transform: translateX(110%); opacity: 0;}
}


.eui-mask{ position: fixed; left: 0; top: 0; height: 100%; width: 100%;}
.eui-fadeIn { animation: euiFadeIn .3s both;}
.eui-fadeOut { animation: euiFadeOut .3s both;}
.eui-pack{ font-size: 14px; line-height: 20px;}
.eui-flex {display: flex; display: -webkit-flex;}
.eui-arr-d01 { position: relative; display: flex; display: -webkit-flex; justify-content: center; align-items: center; width: 12px; height: 12px; border-radius: 50%; background-color: none;}
.eui-arr-d01::after { content: ""; display: block; width: 0; height: 0; border: 5px solid #fff; border-width: 5px 5px 0; border-color: #333 transparent transparent;}

.eui-toast{
    position: fixed; left: 0; top: 45%; width: 100%;  justify-content: center;
    transform: translateZ(0) translateY(-50%);
}
.eui-toast-content{
    min-width: 100px; max-width: 80%; padding: 15px 20px;
    background: rgba(0,0,0,.7); color: #fff; border-radius: 8px; text-align: center; word-break: break-all;
}
.eui-toast-type{ position: relative; margin: 0 auto; height: 40px; width: 40px; background: none;}
.eui-toast-type.success::after{
    content: ""; display: block; position: absolute; left: 50%; top: 50%; width: 30px; height: 14px;
    border-bottom: 2px solid #fff; border-left: 2px solid #fff;
    transform: translate(-50%, -100%) rotate(-45deg);
}
.eui-toast-type.fail::before{
    content: ""; display: block; width: 2px; margin: 0 auto; border-style: solid; border-width: 20px 1px 0; border-color: #fff transparent transparent;
}
.eui-toast-type.fail::after{
    content: ""; display: block; width: 4px; height: 4px; background-color: #fff; border-radius: 50%; margin: 4px auto 0; 
}

.eui-toast-type.loading{
    width: 30px; height: 30px; margin: 0 auto 10px; border-radius: 50%; border:1px solid rgba(255,255,255,.3); border-left: 2px solid #fff; 
    -webkit-animation: euiRotate .8s linear infinite;animation: euiRotate .8s linear infinite;
}
.eui-toast-type.wrong::before,.eui-toast-type.wrong::after{
    content: ""; display: block; position: absolute; left: 50%; top: 0; width: 2px; height: 28px; background-color: #fff; transform: rotate(45deg);
}
.eui-toast-type.wrong::after{transform: rotate(-45deg);}

.eui-notify {
    position: fixed; left: 0; top: 0; width: 100%; padding: 0;
    word-break: break-all; background-color: #eb0d21; border-radius: 0 0 8px 8px; color: #fff; text-align: center;
}
.eui-notify.eui-fadeInDown {animation: euiFadeInDown .3s both;}
.eui-notify.eui-fadeOutDown{animation: euiFadeOutDown .3s both;}
.eui-notify.primary{ background-color: #187ef9;}
.eui-notify.success{ background-color: #0bb955;}
.eui-notify.danger{ background-color: #eb0d21;}
.eui-notify.warning{ background-color: #ff8c5f;}
.eui-notify .eui-toast-content { 
    width: 100%; max-width: none; padding: 7px 14px; background: none; color: #fff; border-radius: 0 0 8px 8px; text-align: center; word-break: break-all;
}
.eui-notify .eui-toast-type { display: none;}

.eui-popup-container{ display: none;}
.eui-popup {
    display: none; position: fixed; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.eui-popup.eui-popup-transparent { background: none;}
.eui-popup.eui-popup-show{ animation: euiPopupShow .2s both;}
.eui-popup.eui-popup-hide{ animation: euiPopupHide .31s both;}
.eui-popup .eui-mask{ z-index: 1;}
.eui-popup .eui-pop-content{ position: absolute; z-index: 2;  background-color: #fff; overflow: hidden;}
.eui-popup.eui-position-center .eui-pop-content{left: 50%; top: 45%; width: 80%; transform: translateZ(0) translate(-50%, -50%); animation: popupHideCenter .3s both; }
.eui-popup.eui-popup-show.eui-position-center .eui-pop-content{ animation: popupShowCenter .3s both; }
.eui-popup.eui-position-bottom .eui-pop-content{
    left:0; bottom:0; width: 100%; transform: translateZ(0) translateY(110%); border-radius: .12rem .12rem 0 0;
    animation: popupHideBottom .3s both;
}
.eui-popup.eui-popup-show.eui-position-bottom .eui-pop-content{ animation: popupShowBottom .3s both; }
.eui-popup.eui-position-top .eui-pop-content{
    left:0; top:0; width: 100%; transform: translateZ(0) translateY(-110%);
    animation: popupHideTop .3s both;
}
.eui-popup.eui-popup-show.eui-position-top .eui-pop-content{ animation: popupShowTop .3s both; }
.eui-popup.eui-position-left .eui-pop-content{
    left:0; top:0; height: 100%; max-width: 80%; transform: translateZ(0) translateX(-110%);
    animation: popupHideLeft .3s both;
}
.eui-popup.eui-popup-show.eui-position-left .eui-pop-content{ animation: popupShowLeft .3s both; }
.eui-popup.eui-position-right .eui-pop-content{
    right:0; top:0; height: 100%; max-width: 80%; transform: translateZ(0) translateX(110%);
    animation: popupHideRight .3s both;
}
.eui-popup.eui-popup-show.eui-position-right .eui-pop-content{ animation: popupShowRight .3s both; }
.eui-popup .eui-pop-content.covered::before{
    content: ''; display: block; position: absolute; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; background-color: rgba(255,255,255,.8);
}
.eui-popup .eui-pop-content.covered::after{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 11;
    content: ""; width: 30px; height: 30px; margin-left: 4px; border-radius: 50%; border:1px solid rgba(0,0,0,.3); border-left: 2px solid #999; 
    -webkit-animation: euiRotateCenter .8s linear infinite;animation: euiRotateCenter .8s linear infinite;
}
.eui-actionSheet .eui-actionSheet-content{ border-radius: 10px 10px 0 0; text-align: center; color: #111;}
.eui-actionSheet .eui-actionSheet-title{ border-bottom: 1px solid #f6f6f6; font-size: 14px; color: #999; padding: 16px 10px;}
.eui-actionSheet .eui-actionSheet-item{ position: relative; padding: 14px 10px; font-size: 18px;}
.eui-actionSheet .eui-actionSheet-item.i0{ padding-top: 20px;}
.eui-actionSheet .eui-actionSheet-item.disabled::after{
    content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 2;
    width: 100%; height: 100%; background-color: rgba(255,255,255,.7);
}
.eui-actionSheet .eui-actioinSheet-subname{ color: #999; font-size: 14px; padding-top: 4px; line-height: 18px;}
.eui-actionSheet .eui-actionSheet-cancel{padding: 16px 10px; font-size: 18px; border-top: 10px solid #f3f3f3; color: #666;}

.eui-actionSheet-btntype .eui-actionSheet-content{ padding: 0 14px; background: none;}
.eui-actionSheet-btntype .eui-actionSheet-title{ border-bottom: none; border-radius: 8px; font-size: 16px; color: #fff; padding: 16px 10px;}
.eui-actionSheet-btntype .eui-actionSheet-item{ position: relative; padding: 14px 10px; font-size: 18px; background: #fff; margin-top: 1px;border-radius:8px;}
.eui-actionSheet-btntype .eui-actionSheet-item.i0{ padding-top: 14px;}
.eui-actionSheet-btntype .eui-actionSheet-item.disabled { opacity: .8;}
.eui-actionSheet-btntype .eui-actionSheet-item.disabled::after{
    content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 2;
    width: 100%; height: 100%; background-color: rgba(255,255,255,.4); border-radius: 8px;
}
.eui-actionSheet-btntype .eui-actionSheet-cancel{padding: 20px 10px; font-size: 18px; margin-top: 4px; border-top: none; color: #fff;}

.eui-dialog .eui-dialog-content{ border-radius: 10px; padding-top: 28px; overflow: hidden; text-align: center;}
.eui-dialog .eui-dialog-conttext{ padding: 0 16px 30px; font-size: 14px;}
.eui-dialog .eui-dialog-btnrow{ text-align: center; justify-content: space-between; border-top: 1px solid #eee; line-height: 44px; font-size: 16px;}
.eui-dialog .eui-dialog-btn{ flex: 1; color: var(--eui-primary); justify-content: center; align-items: center;}
.eui-dialog .eui-dialog-title{ padding: 0 20px 14px; font-size: 16px; font-weight: bold;}
.eui-dialog .eui-dialog-btn-cancel{ border-right: 1px solid #eee; color: #444;}
.eui-dialog .eui-dialog-btnrow-round { border-top: none; padding: 0 20px 20px;}
.eui-dialog .eui-dialog-btnrow-round .eui-dialog-btn{ border-radius: 25px; color: #fff; background:-webkit-linear-gradient(90deg,var(--eui-primary-gradient-start) 0%,var(--eui-primary-gradient-end) 100%); background:linear-gradient(90deg,var(--eui-primary-gradient-start) 0%,var(--eui-primary-gradient-end) 100%);}
.eui-dialog .eui-dialog-btnrow-round .eui-dialog-btn-cancel { background: #eee; color: #111; }
.eui-dialog .eui-dialog-btnrow-showcancel .eui-dialog-btn{ flex: 0 0 48%;}
.eui-dialog .eui-dialog-btn-loading::after{
    content: ""; width: 14px; height: 14px; margin-left: 4px; border-radius: 50%; border:1px solid rgba(0,0,0,.3); border-left: 2px solid #999; 
    -webkit-animation: euiRotate .8s linear infinite;animation: euiRotate .8s linear infinite;
}
.eui-dialog .eui-dialog-btnrow-round .eui-dialog-btn-cancel.eui-dialog-btn-loading::after{
    border:1px solid rgba(0,0,0,.3); border-left: 2px solid #999;
}
.eui-dialog .eui-dialog-btnrow-round .eui-dialog-btn-confirm.eui-dialog-btn-loading::after{
    border:1px solid rgba(255,255,255,.3); border-left: 2px solid #fff;
}

.eui-selecter{ position: relative; text-align: center; background: #fff;}
.eui-selecter .eui-selecter-title{ line-height: 40px; font-weight: bold; font-size: 16px;}
.eui-selecter .eui-selecter-warp{ position: relative; height: 280px; overflow: hidden;}
.eui-selecter .eui-selecter-scroller{ position: absolute; left: 0; top: 160px; width: 100%; overflow: hidden;}
.eui-selecter .eui-selecter-option{ float: left; width: 100%; padding: 0 16px; height: 40px; line-height: 40px; font-size: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.eui-selecter .eui-selecter-warp:before{content: ""; display: block; position: absolute; left: 0; top: 0; height: 120px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.6) 100%); background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.6) 100%); border-bottom: 1px solid #ccc; z-index: 2;}
.eui-selecter .eui-selecter-warp:after{content: ""; display: block; position: absolute; left: 0; bottom: 0; height: 120px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(255,255,255,.6) 0%,rgba(255,255,255,1) 100%); background:linear-gradient(180deg,rgba(255,255,255,.6) 0%,rgba(255,255,255,1) 100%); border-top: 1px solid #ccc; z-index: 2;}

.eui-cover-loading{
    display: flex; display: -webkit-flex; align-items: center; justify-content: center; 
    position: absolute; left: 0; top: 0; z-index: 5;  height: 0; overflow: hidden;
    width: 100%; background: rgba(255,255,255,.8);
}
.eui-cover-loading::after{
    content: ""; display: block; width: 30px; height: 30px; margin-left: 4px; border-radius: 50%; border:1px solid rgba(0,0,0,.3); border-left: 2px solid #666; 
    -webkit-animation: euiRotate .6s linear infinite;animation: euiRotate .6s linear infinite;
}
.eui-cover-loading.show{ height: 100%;}

.eui-pack .eui-popup-topline{
    position: relative; height: 48px; padding: 0 20px; justify-content: space-between; white-space: nowrap; font-size: 16px;
    background: #fff; line-height: 48px; border-radius: 10px 10px 0 0;
}
.eui-pack .eui-popup-topline.eui-hide { display: none;}
.eui-popup-topline .eui-popup-topline-title{ font-weight: bold; font-size: 16px; flex: 1; text-align: center;}
.eui-popup-topline .eui-popup-topline-btn { position: absolute; top: 0; padding: 0 14px;}
.eui-popup-topline .eui-popup-topline-btn-cancel { left: 0;}
.eui-popup-topline .eui-popup-topline-btn-confirm { right: 0;}

.eui-picker{ position: relative;}
.eui-popup.eui-picker{ position: fixed;}
.eui-picker .eui-picker-content{ border-radius: 10px 10px 0 0;}

.eui-cascader .eui-cascader-item{ flex: 1;}
.eui-cascader .eui-selecter .eui-selecter-title{ font-size: 14px; background-color: #f2f2f2; font-weight: normal; color: #999;}
.eui-cascader{ position: relative;}
.eui-popup.eui-cascader{ position: fixed;}
.eui-cascader .eui-cascader-content{ border-radius: 10px 10px 0 0;}
.eui-cascader-datetime .eui-selecter .eui-selecter-option{ padding: 0;}
.eui-cascader-datetime .eui-selecter .eui-cascader-timelabel{ font-size: 12px; color: #999; margin-left: 2px;}

.eui-datamappicker{ position: relative; background-color: #fff; overflow: hidden;}
.eui-datamappicker .eui-toppath{ position: relative; white-space: nowrap; padding: 0 20px; line-height: 44px; height: 44px; overflow-x: scroll; -webkit-overflow-scrolling: touch;}
.eui-datamappicker .eui-toppath::after{ content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; background: #e5e5e5;}
.eui-datamappicker .eui-dmp-pathitem{ position: relative; margin: 0 10px; height: 44px;}
.eui-datamappicker .eui-dmp-pathitem:nth-child(1){ margin-left: 0;}
.eui-datamappicker .eui-dmp-pathitem:nth-last-child(1){ margin-right: 0;}
.eui-datamappicker .eui-dmp-pathitem.active{ color: var(--eui-primary);}
.eui-datamappicker .eui-dmp-pathitem.active::after{ content: ""; display: block; position: absolute; left: 0; bottom: 0; right: 0; height: 4px; background-color: var(--eui-primary);}
.eui-datamappicker .eui-dmp-pathitem.disabled{ color: #999;}
.eui-datamappicker .eui-midwarp{ position: relative; height: 300px; overflow: hidden;}
.eui-datamappicker .eui-dmpwarp{
    position: absolute; left: 0; top: 0; height: 100%; width: 100%; overflow-y: scroll; padding: 10px 20px;
    -webkit-overflow-scrolling: touch; transform: translateX(0);
}
.eui-datamappicker .eui-dmp-item{ position: relative; padding: 10px 30px 10px 0; line-height: 20px;}
.eui-datamappicker .eui-dmp-item.active{ color: var(--eui-primary);}
.eui-datamappicker .eui-dmp-item.active::after{
    content: ""; display: block; position: absolute; right: 5px; top: 50%;
    width: 16px; height: 8px; border-left: 1px solid var(--eui-primary); border-bottom: 1px solid var(--eui-primary);
    transform: rotate(-45deg) translateY(-100%);
}
.eui-datamappicker .eui-dmp-item.eui-dmp-haschild::before{
    content: ""; display: block; position: absolute; right: -6px; top: 50%;
    width: 6px; height: 6px; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;
    transform: rotate(-45deg) translateY(-50%);
}
.eui-datamappicker .eui-dmpwarp.eui-dmp-center{ transform: translateX(0);}
.eui-datamappicker .eui-dmpwarp.eui-dmp-right{ transform: translateX(100%);}
.eui-datamappicker .eui-dmpwarp.eui-dmp-left{ transform: translateX(-100%);}
.eui-datamappicker .eui-dmpwarp.eui-dmp-ani{ transition: all .3s;}
.eui-datamappicker .eui-datamappicker-container{ position: relative; overflow: hidden;}
.eui-datamappicker .eui-botwarp{
    position: absolute; left: 0; bottom: -392px; width: 100%; height: 437px; flex-direction: column;
    border-top: 1px solid #e5e5e5;  background-color: #fff; border-radius: 10px 10px 0 0;
    transition: all .3s;
}
.eui-datamappicker .eui-botwarp.eui-dmp-open{ bottom: 0;}
.eui-datamappicker .eui-botwarpbtn{
    display: flex; display: -webkit-flex; height: 44px; align-items: center; justify-content: center;
    line-height: 44px; font-size: 16px; 
}
.eui-datamappicker .eui-botwarpbtn div{ 
    position: relative; width: 8px; height: 8px;
    transition: all .3s; margin-left: 5px;
    transform: rotate(0);
}
.eui-datamappicker .eui-botwarpbtn div::after{
    content: ""; display: block; position: absolute; left: 0; top: -1px; width: 100%; height: 100%;
    border-left: 1px solid #333; border-top: 1px solid #333; transform: rotate(45deg);
}
.eui-datamappicker .eui-botwarpbtn div::before{
    content: ""; display: block; position: absolute; left: 0; top: 4px; width: 100%; height: 100%;
    border-left: 1px solid #333; border-top: 1px solid #333; transform: rotate(45deg);
}
.eui-datamappicker .eui-botwarp.eui-dmp-open .eui-botwarpbtn div {
    transform: rotate(0180deg);
}
.eui-datamappicker.eui-multiple,
.eui-datamappicker .eui-datamappicker-container.eui-multiple{ padding-bottom: 44px;}
.eui-datamappicker .eui-botwarplist{ padding: 20px; border-top: 1px solid #e5e5e5; height: 392px; overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.eui-datamappicker .eui-botwarpitem { border: 1px solid #ddd; line-height: 20px; border-radius: 6px; padding: 8px 10px; float: left; margin: 0 10px 10px 0;}

.eui-calendar{ background-color: #fff; border-radius: 10px 10px 0 0;}
.eui-calendar .eui-calendar-content{ border-radius: 10px 10px 0 0;}
.eui-calendar .eui-calendar-weeks{ text-align: center;font-size: 14px; background-color: #f2f2f2; line-height: 24px; font-weight: normal; color: #999;}
.eui-calendar .eui-calendar-wkitem{flex: 0 0 14.2%;}
.eui-calendar .eui-calendar-wkitem:nth-last-child(1){flex: 0 0 14.6%;}
.eui-calendar .eui-calendar-ymline{ padding: 0 40px; font-size: 18px; line-height: 44px;}
.eui-calendar .eui-calendar-ym-item{ flex: 1; align-items: center; justify-content: center;}
.eui-calendar .eui-calendar-ym-o{ position: relative; top: 2px; margin-left: 2px; font-size: 12px; color: #666;}
.eui-calendar .eui-arr-d01{ position: relative; top: 2px;}
.eui-calendar .eui-calendar-dlist{ position: relative; overflow: hidden; padding: 10px 0 16px; text-align: center; font-size: 18px;}
.eui-calendar .eui-calendar-ditem{ position: relative; z-index: 3; height: 48px; width: 14.2%; float: left; display: flex; display: -webkit-flex; justify-content: center; align-items: center;}
.eui-calendar .eui-calendar-ditem:nth-child(7n){ width: 14.6%;}
.eui-calendar .eui-calendar-mbg{ position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%;  justify-content: center; align-items: center; font-size: 200px; color: #f2f2f2;}
.eui-calendar .eui-calendar-ditem.disabled{ opacity: .3;}
.eui-calendar .eui-calendar-ditem.active{ color: #fff; border-radius: 5px; background: var(--eui-primary);}
.eui-calendar .eui-calendar-ditem.range-active { background: var(--eui-primary-light); color: var(--eui-primary);}
.eui-calendar .eui-calendar-ditem.range-active-first{ border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-color: var(--eui-primary); color: #fff;}
.eui-calendar .eui-calendar-ditem.range-active-end{border-top-right-radius: 5px; border-bottom-right-radius: 5px; background-color: var(--eui-primary); color: #fff;}
.eui-calendar .eui-calendar-ywarp{ 
    display: none; position: absolute; left: 0; top: 0; z-index: 6; width: 100%; height: 100%;  overflow-y: scroll; -webkit-overflow-scrolling: touch;
    padding: 30px 20px; background-color: #fff; border-radius: 10px 10px 0 0; font-size: 18px; line-height: 40px; text-align: center;
    align-items: center; justify-content: space-around; flex-wrap: wrap; align-content: center;
}
.eui-calendar .eui-calendar-yitem{ background-color: rgba(0,0,0,.05); margin: 5px; padding: 0 14px; border-radius: 20px;}
.eui-calendar .eui-calendar-mitem{ flex: 0 0 23%;background-color: rgba(0,0,0,.05); margin: 5px 2px; padding: 0 14px; border-radius: 20px;}
.eui-calendar .eui-calendar-yitem.active,
.eui-calendar .eui-calendar-mitem.active { background: var(--eui-primary); color: #fff;}
.eui-calendar .eui-calendar-ywarp.eui-cal-open{ animation: euiFadeIn .3s both;}
.eui-calendar .eui-calendar-ywarp.eui-cal-hide{ animation: euiFadeOut .3s both;}

.eui-swipe{ position: relative; width: 100%; overflow: hidden; }
.eui-swipe .eui-swipe-item{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: translateX(100%); background: #ddd;}
.eui-swipe.directionY .eui-swipe-item{transform: translateY(100%);}
.eui-swipe .eui-indicator-dot{ position: absolute; z-index: 3; left: 0; bottom: 10px; right: 0; display: flex; align-items: center; justify-content: center;}
.eui-swipe .eui-indicator-item{ width: 6px; height: 6px; margin: 0 2px; background-color: #fff; border-radius: 3px; transition: all .2s; box-shadow: 0 0 2px rgba(0,0,0,.3);}
.eui-swipe .eui-indicator-item.active{ width: 14px;}
.eui-swipe .eui-indicator-num{ 
    position: absolute; z-index: 3; right: 10px; bottom: 10px;
    padding: 3px 10px; border-radius: 20px; box-shadow: 0 0 3px rgba(0,0,0,.1);
    background: rgba(255,255,255, .4); font-size: 14px; border: 1px solid rgba(255,255,255,.8);
}
.eui-swipe .eui-indicator-curnum{ font-size: 16px; font-weight: bold;}
.eui-swipe{ perspective: 150; -webkit-perspective: 150;}
.eui-swipe .eui-swipe-3d{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;transform-style: preserve-3d; -webkit-transform-style: preserve-3d;}