@charset "utf-8";

@font-face{
  font-family: numberFont;
  src: url('../font-static/D-DIN-Bold.ttf');
}

div,p,span,a,nav,input,select,textarea,ul,li,img{ margin:0; padding:0; outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box; box-sizing: border-box;}
body{ font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif; margin: 0; padding: 0; margin: 0 auto; position: relative; font-size: .14rem; line-height: .2rem; color: #333; background: #f1f1f1;}
img { border: 0;display: inline-block; max-width: 100%; vertical-align: middle;}
a{ text-decoration:none; color: #222;}
ul{ list-style: none; }
dl,ul,p{ -webkit-margin-before:0em; -webkit-margin-after:0em;}
input,select,textarea{-webkit-appearance: none; font-size: .14rem; outline: none; color: #333; font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif;}
html,body{ position: relative; height: 100%; }
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.bgcfff{ background: #fff;}
.wp100{ width: 100%;}
.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.dsn{ display: none;}
.dsb{display: block;}
.center{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);  }
.clearfix:after{ content: ""; display: block; clear: both; }
.opacity0{ opacity: 0; }
.fwb{ font-weight: bold;}
.html{ width: 100%; margin: 0 auto; position: relative; z-index: 1;min-height: 100%;}
.flex { display: flex; display: -webkit-flex;}
.flex-aic { display: flex; display: -webkit-flex; align-items: center;}
.flex-aic-jcsb { display: flex; display: -webkit-flex; align-items: center; justify-content: space-between;}
.flex-aic-jcc { display: flex; display: -webkit-flex; align-items: center; justify-content: center;}
.flex-jcsb {display: flex; display: -webkit-flex; justify-content: space-between;}

input::-webkit-input-placeholder { color: #ccc;}
textarea::-webkit-input-placeholder { color: #ccc;}

.cm-input { display: block; width: 100%; border: none; border-radius: 0;}

.dinfont { font-family: 'numberFont';}

.cm-btn { height: .36rem; border: 1px solid #58b586; color:#58b586; border-radius: 100px; padding: 0 .22rem; font-size: .14rem; text-align: center; justify-content: center; display: inline-flex; display: -webkit-inline-flex; align-items: center; white-space: nowrap;}
.cm-btn.sm { height: .24rem; font-size: .12rem; padding: 0 .12rem;}
.cm-btn.lg { height: .4rem; font-size: .16rem; padding: 0 .2rem;}
.cm-btn.primary { background: #58b586; color: #fff; border: none;}
.cm-btn.ash { border: 1px solid #999; color: #444; }
.cm-btn.primary.disabled { background-color: #ccc; color: #fff;}
.cm-btn.block { display: flex; display: -webkit-flex;}

.empty{ text-align: center; padding: 80px 0 10px; color: #999;}
.empty .emimg{ width: 135px;}
.empty .emtext{ padding-top: 10px;}
.botmore{ padding: .1rem 0; font-size: .12rem; color: #999; text-align: center;}
.botmore .bmimg{ vertical-align: middle; height: .16rem; width: .16rem; margin-right: .05rem;}
.botmore .done{ display: none; }
.cm-status-none { display: none;}
.cm-status-loading .empty,
.cm-status-finish .empty,
.cm-status-finish .bmimg,
.cm-status-finish .load,
.cm-status-empty .botmore { display: none;}
.cm-status-finish .done { display: inline;}

.cm-sticky { position: sticky; position:-webkit-sticky; left: 0; top: 0; z-index: 3;}

.cm-popup-right-pop .eui-pop-content { border-radius: .12rem 0 0 .12rem; width: 86%; max-width: 90%!important;}

.cm-botline { position: fixed; z-index: 10; left: 0; bottom: 0; right: 0; padding: .1rem .14rem; background: #fff; box-shadow: 0 0 .02rem rgba(0,0,0,.2);}
.cm-botline.nobg { position: fixed; z-index: 10; left: 0; right: 0; bottom: 0; padding: .1rem .28rem .2rem; background: none; box-shadow: none;}

.cm-input-wrap { position: relative;}
.cm-input-wrap .ciw-input { display: block; width: 100%; padding: 0 .14rem; border: none; border-radius: 1rem; line-height: .32rem; height: .32rem; font-size: .14rem; background: #F7F7F7; }
.cm-input-wrap .ciw-search { background: url(../images/search01.png) no-repeat .14rem center #F7F7F7;  background-size: .14rem .14rem; padding-left: .36rem; }
.cm-input-wrap .ciw-clear { position: absolute; right: 0; top: 0; bottom: 0; width: .32rem; background: url(../images/clear01.png) no-repeat center center; background-size: .16rem .16rem; opacity: 0; transition: all .2s; pointer-events: none;}
.cm-input-wrap.has-value .ciw-input { padding-right: .32rem;}
.cm-input-wrap.has-value .ciw-clear { opacity: .4; pointer-events: all;}

.cm-form { background: #fff; font-size: .14rem; line-height: .20rem;}
.cm-form.nobd .cfm-line { border-bottom: none;}
.cm-form.lastnobd .cfm-line:nth-last-child(1) { border-bottom: none;}
.cm-form .cfm-line { display: flex; display: -webkit-flex; align-items: center; line-height: .24rem; padding: .12rem 0; border-bottom: 1px solid #eee;}
.cm-form .cfm-ao { width: .86rem; flex: 0 0 .86rem; padding-right: .1rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #828282;}
.cm-form .cfm-textline { flex: 1;}
.cm-form .cfm-inputline { position: relative; flex: 1;}
.cm-form .cfm-lineselect::after { content: ""; width: .04rem; height: .08rem; margin-left: .08rem; background: url(../images/arr-r01.png); background-size: 100% 100%;}
.cm-form .cfm-lineselect > div { pointer-events: none;}
.cm-form .cfm-input { display: block; height: .24rem; line-height: .24rem; border: none; width: 100%; background: #fff;}
.cm-form.alri .cfm-ao { flex: none; width: auto; }
.cm-form.alri .cfm-input { text-align: right; }
.cm-form.alri .cfm-textarea { text-align: right; }
.cm-form.alri .cfm-linetext { text-align: right; }
.cm-form .cfm-line-textarea { align-items: flex-start;}
.cm-form .cfm-inputtextarea { flex: 1;}
.cm-form .cfm-textarea { display: block; width: 100%; border: none; height: .8rem; padding: .02rem 0;}
.cm-form .cfm-line-upload { flex: 1; align-items: flex-start;}
.cm-form .cfm-uploadimg {display: flex; display: -webkit-flex; flex-wrap: wrap;}
.cm-form .cfm-uploadimg-item { width: .88rem; height: .88rem; position: relative; margin: 0 .08rem .08rem 0;}
.cm-form .cfm-uploadimg-img {width: .88rem; height: .88rem; object-fit: cover;}
.cm-form .cfm-uploadimg-remove { position: absolute; right: 0; top: 0; z-index: 2; width: .3rem; height: .3rem; background: url(../images/close01.png) no-repeat right top; background-size: .13rem .13rem;}
.cm-form .cfm-uploadimg-add { width: .88rem; height: .88rem; background: url(../images/plus02.png) no-repeat center center #f4f4f4; background-size: .36rem .36rem; margin-bottom: .08rem;}
.cm-form .cfm-inputdisabled { color: #999;}
.cm-form .cfm-linetext { color: #666; flex: 1;}
.cm-form .cfm-linetext-pre { padding-left: .04rem;}

.cm-botnav { position: fixed; left: 0; bottom: 0; right: 0; z-index: 5; height: .56rem; display: flex; display: -webkit-flex; text-align: center; font-size: .12rem; line-height: .14rem; background-color: #fff; box-shadow: 0 0 .02rem rgba(0,0,0,.2);}
.cm-botnav .cbt-item { flex: 0 0 33.3%; color: #B5B1B2; padding-top: .1rem;}
.cm-botnav .cbt-icon { width: .2rem; height: .16rem; margin: 0 auto; background: url(../images/botnav.png) no-repeat left top; background-size: .6rem .32rem; transform: scale(1.2);}
.cm-botnav .cbt-icon-house { background-position: 0 0;}
.cm-botnav .cbt-icon-chart { background-position: -.2rem 0;}
.cm-botnav .cbt-icon-log {background-position: -.4rem 0;}
.cm-botnav .cbt-tx { padding-top: .08rem;}
.cm-botnav .cbt-item.active { color: #58b586;}
.cm-botnav .cbt-item.active .cbt-icon { background-position-y: -.16rem;}

.eui-pop-content .cm-user-select { background: #fff; position: relative; height: 100%; overflow: hidden; display: flex; display: -webkit-flex; flex-direction: column;}
.cm-user-select .cus-search { padding: .08rem .18rem;}
.cm-user-select .cus-list { flex: 1; overflow-y: scroll;  padding: 0 .18rem; -webkit-overflow-scrolling: touch;}
.cm-user-select .cus-list-item { position: relative; line-height: .44rem; border-bottom: 1px solid #eee;}
.cm-user-select .cus-list-key { color: #1884F7;}
.cm-user-select .cus-list-item:nth-last-child(1) {border-bottom: none;}
.cm-user-select .botmore { padding: .1rem;}
.cm-user-select .cus-list-item.active::after { content: ""; display: block; position: absolute; right: 0; top: 50%; width: .14rem; height: .14rem; margin-top: -.07rem; background: url(../images/check01.png); background-size: 100% 100%;}
