<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link href="./css/main.css" rel="stylesheet" type="text/css" />
	<title>统计计算</title>
</head>
<body>
	<div class="page">
		<div class="top-tab-wrap flex" id="app">
			<div :class="['ttw-item', {active: item.name === currentTabName}]" v-for="item in tabList" key="item.id" @click="changeTab(item)">{{item.label}}</div>
		</div>
		<div v-show="pageShow" id="vue_base">
			<div class="cm-topbtns flex">
				<div class="ct-btns" @click="initData">清除缓存并初始化</div>
				<div class="ct-btns" @click="initData">初始化</div>
			</div>
			<div class="base-content">
				<div class="flex">
					<div class="chart">
						<div class="cls-wrap" v-for="item in redChart" key="item.name">
							<div class="cls-inner" :style="`width:${item.width}%`">
								<span class="cn">{{item.name}}</span>
								<span class="cn">{{item.count}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="swipe" id="chart01" style="height: 2000px;">
			</div>
			<div class="swipe" id="chart02"></div> -->
		</div>
	</div>
	<script src="./data/2018.js"></script>
	<script src="./data/2019.js"></script>
	<script src="./data/2020.js"></script>
	<script src="./data/2021.js"></script>
	<script src="./data/2022.js"></script>
	<script type="text/javascript">
		const allData = [ ...y2022,...y2021,...y2020,...y2019,...y2018];
		window.vues = {};
	</script>
	<script src="./lib/vue.js"></script>
	<script src="./js/base.js"></script>
	<script src="./js/layout.js"></script>
	<script type="text/javascript">

		// let allData = [ ...y2022,...y2021,...y2020,...y2019,...y2018];
		// let redCount = {};
		// let blueCount = {};
		// let str = '';
		// let strblue = '';
		// for (let i = 1; i <= 33; i ++) {
		// 	redCount[i] = 0;
		// 	str += `<div class="sls" data-key="${i}">0</div>`;
		// 	if (i < 17) {
		// 		blueCount[i] = 0;
		// 		strblue += `<div class="sls" data-key="${i}">0</div>`;
		// 	}
		// }
		// document.getElementById('chart01').innerHTML = str;
		// document.getElementById('chart02').innerHTML = strblue
		// let redsls = document.getElementById('chart01').getElementsByClassName('sls');
		// let bluesls = document.getElementById('chart02').getElementsByClassName('sls');

		// for (let i = 0; i < allData.length; i++) {
		// 	let reds = allData[i].reds;
		// 	reds.forEach((item) => {
		// 		redCount[item]++;
		// 	})
		// 	blueCount[allData[i].blue]++;
		// }
		// Object.keys(redCount).forEach((k) => {
		// 	redsls[k - 1].innerHTML = redCount[k]
		// 	redsls[k - 1].style.width = `${redCount[k]*2}px`
		// });
		// Object.keys(blueCount).forEach((k) => {
		// 	bluesls[k - 1].innerHTML = blueCount[k]
		// 	bluesls[k - 1].style.width = `${blueCount[k]*2}px`
		// });
	</script>
</body>
</html>
