<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link href="./css/main.css" rel="stylesheet" type="text/css" />
	<title>统计计算</title>
</head>
<body>
	<div class="page">
		<div class="top-tab-wrap flex" id="app">
			<div :class="['ttw-item', {active: item.name === currentTabName}]" v-for="item in tabList" key="item.id" @click="changeTab(item)">{{item.label}}</div>
		</div>
		<div v-show="pageShow" id="vue_base">
			<div class="cm-topbtns flex">
				<div class="ct-btns" @click="initData">清除缓存并初始化</div>
				<div class="ct-btns" @click="initData">初始化</div>
			</div>
			<div class="base-content flex">
				<div class="chart">
					<div class="cls-wrap" v-for="item in redChart" key="item.name">
						<div class="cls-inner" :style="`width:${item.width}%`">
							<span class="cls-name">{{item.name}}</span>
							<span class="cls-count">{{item.count}}</span>
						</div>
					</div>
				</div>
				<div class="chart">
					<div class="cls-wrap" v-for="item in blueChart" key="item.name">
						<div class="cls-inner" :style="`width:${item.width}%`">
							<span class="cls-name">{{item.name}}</span>
							<span class="cls-count">{{item.count}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div v-show="pageShow" id="vue_count">
			<div class="flex">
				<div class="left-btn-wrap">
					<div class="cm-topbtns">
						<div class="ct-btns" @click="initData">清除缓存并初始化</div>
						<div class="ct-btns" @click="initData">初始化</div>
					</div>
					<div class="cm-topbtns">
						<div class="flex lb-line">
							<div class="ct-btns" @click="initData">6</div>
							<div class="ct-btns" @click="initData">7</div>
							<div class="ct-btns" @click="initData">8</div>
							<div class="ct-btns" @click="initData">9</div>
						</div>
						<div class="flex lb-line">
							<div class="ct-btns" @click="initData">常规顺位</div>
							<div class="ct-btns" @click="initData">排除首1位</div>
							<div class="ct-btns" @click="initData">排除首2位</div>
							<div class="ct-btns" @click="initData">排除首3位</div>
						</div>
					</div>
					<div class="cm-topbtns">
						<div class="flex lb-line">
							<div class="ct-btns" @click="initData">1</div>
							<div class="ct-btns" @click="initData">2</div>
							<div class="ct-btns" @click="initData">3</div>
						</div>
						<div class="flex lb-line">
							<div class="ct-btns" @click="initData">常规顺位</div>
							<div class="ct-btns" @click="initData">排除首1位</div>
							<div class="ct-btns" @click="initData">排除首2位</div>
							<div class="ct-btns" @click="initData">排除首3位</div>
						</div>
					</div>
				</div>
				<div class="table-wrap cm-table" :style="`height:${tableHeight}px`">
					<table cellspacing="0" border="0"  cellpadding="0">
						<thead>
							<th v-for="column in columns" key="column.key">{{column.label}}</th>
						</thead>
						<tbody>
							<tr v-for="data in allData" key="data.time">
								<td v-for="column in columns" key="column.key">{{data[column.key] === undefined ? '--' : data[column.key]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="./data/2018.js"></script>
	<script src="./data/2019.js"></script>
	<script src="./data/2020.js"></script>
	<script src="./data/2021.js"></script>
	<script src="./data/2022.js"></script>
	<script src="./js/utils.js"></script>
	<script type="text/javascript">
		const res = reBuildData([ ...y2022,...y2021,...y2020,...y2019,...y2018]);
		const allData = res.allData
		const blueCount = res.blueCount;
		const redCount = res.redCount;
		window.vues = {};
	</script>
	<script src="./lib/vue.js"></script>
	<script src="./js/base.js"></script>
	<script src="./js/count.js"></script>
	<script src="./js/layout.js"></script>
</body>
</html>
