@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;font-family:"微软雅黑",Arial, Helvetica, sans-serif; background: #fafafa;}
div, p, form, label,  textarea, img, span{margin:0; padding:0; border:none;}
a{ text-decoration:none; color: #222;}
a:hover{ color: #72db96; transition:color 0.2s,background 0.2s; -moz-transition:color 0.2s,background 0.2s; -webkit-transition:color 0.2s,background 0.2s;}
ul{ margin:0;   padding:0;  list-style-type:none;}
div{font-size:14px;line-height:20px; color: #333;}
html, body { height: 100%}
img {vertical-align: middle;border: none; -ms-interpolation-mode: bicubic;}
div,p,span,a,ul,li,nav,input{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}

.swipe{ position: relative; height: 200px; overflow: hidden;visibility: hidden; }
.swipe_wrap{ position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 1;}

.swipe_wrap{ height: 200px; color: #fff; text-align: center; font-size: 24px; padding-top: 50px;}
.swipe_wrap:nth-child(1){ background: #61d1d8; }
.swipe_wrap:nth-child(2){ background: #c0d861; }
.swipe_wrap:nth-child(3){ background: #a4d861; }
.swipe_wrap:nth-child(4){ background: #6188d8; }
.swipe_wrap:nth-child(5){ background: #a761d8; }

.test{ position: relative; transition:all .5s; -webkit-transition:all .5s; height: 20px; width: 100%; background: #ddd;}
.test.active{-webkit-transform:translateX(100px); }

.xx{ display: block; }
