@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;font-family:"微软雅黑",Arial, Helvetica, sans-serif; background: #fafafa;}
div, p, form, label,  textarea, img, span{margin:0; padding:0; border:none;}
a{ text-decoration:none; color: #222;}
a:hover{ color: #72db96; transition:color 0.2s,background 0.2s; -moz-transition:color 0.2s,background 0.2s; -webkit-transition:color 0.2s,background 0.2s;}
ul{ margin:0;   padding:0;  list-style-type:none;}
div{font-size:12px;line-height:20px; color: #333;}
html, body { height: 100%}
img {vertical-align: middle;border: none; -ms-interpolation-mode: bicubic;}
div,p,span,a,ul,li,nav,input{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}
.ls {
    padding: 10px 0;
}
.btn {
    position: fixed; left: 0; top: 0; z-index: 2; background: rgba(0,0,0,.3); padding: 30; cursor: pointer;
}
.eui-body-hidden {
    overflow: hidden;
}

.scroll {
    width: 506px;
    height: 500px;
    margin: 0 auto;
    overflow: scroll;
    background-color: #ddd;
}