@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;font-family:"微软雅黑",Arial, Helvetica, sans-serif; background: #fafafa;}
div, p, form, label,  textarea, img, span{margin:0; padding:0; border:none;}
a{ text-decoration:none; color: #222;}
a:hover{ color: #72db96; transition:color 0.2s,background 0.2s; -moz-transition:color 0.2s,background 0.2s; -webkit-transition:color 0.2s,background 0.2s;}
ul{ margin:0;   padding:0;  list-style-type:none;}
div{font-size:14px;line-height:20px; color: #333;}
html, body { height: 100%}
img {vertical-align: middle;border: none; -ms-interpolation-mode: bicubic;}
div,p,span,a,ul,li,nav,input{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}

.slider{ position: relative; height: 200px; overflow: hidden; }
.slider_ul,.slider_li{ position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 1;}
.slider .pos{ position: absolute; z-index: 2; right: 10px; bottom: 10px;}
.slider .po{ display: inline-block; margin-left: 8px; height: 8px; width: 8px; border-radius: 50%; background: #ddd; box-shadow: 0 1px 2px 1px rgba(0,0,0,.3); }
.slider .po.active{ background: #fff; }

.text{ height: 200px; color: #fff; text-align: center; font-size: 24px; padding-top: 50px;}
.text1{ background: #61d1d8; }
.text2{ background: #c0d861; }
.text3{ background: #a4d861; }
.text4{ background: #6188d8; }
.text5{ background: #a761d8; }

