@charset "utf-8";
@import url('../../../assets/css/red-theme.css');
@import url('../../../font/iconfont.css');


div,p,span,a,nav,input,select,ul,li,img,textarea{ margin:0; padding:0; outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box; box-sizing: border-box;}
body{ font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif; margin: 0; padding: 0; margin: 0 auto; position: relative;}
img { border: 0;display: inline-block; max-width: 100%; vertical-align: middle;}
a{ text-decoration:none; color: #222;}
ul{ list-style: none; }
dl,ul,p{ -webkit-margin-before:0em; -webkit-margin-after:0em;}
input,select,textarea{-webkit-appearance: none; font-size: .14rem; outline: none; color: #333; font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif;}
html{ font-size: 100px;}
body{ font-size: .14rem; line-height: .24rem; color: #333; background: #F9F9F9;}

.html{ width: 100%; margin: 0 auto; position: relative; z-index: 1; min-height: 100%;}
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.ptr{ position: relative;}
.bgcfff{ background: #fff;}
.wp100{ width: 100%;}
.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.dsn{ display: none;}
.dsb{ display: block; }
.pta{ position: absolute;}
.ml10{ margin-left: .1rem;}
.touchsc{ -webkit-overflow-scrolling: touch;}
.clearfix:after{ content: ""; display: block; clear: both; }
input::-webkit-input-placeholder { color: #ccc;}
textarea::-webkit-input-placeholder { color: #ccc;}

.gb-dn{ display: none!important;}
/*----weight-------*/
.tippop{ position: fixed; z-index: 99; left: 0; top: 50%;transform:translateY(-100%); -webkit-transform:translateY(-100%); font-size: 12px; text-align: center; width: 100%; padding: 0 30px;}
.tippop .text{ padding:20px; font-size: 16px; border-radius: 5px; }
.tippop .load{ display: inline-block; color: #fff; background: rgba(0,0,0,.6); border-radius: 3px;}
.tippop .danger{ background: #f2dede; color: #a94442;}
.tippop .success{ background: #dff0d8; color: #3c763d;}
.tippop .info{ background: #d9edf7; color: #31708f;}
.tippop .warning{ background: #fcf8e3; color: #8a6d3b;}
.tippop .tip{ background: rgba(0,0,0,.6); color: #fff;}
.tippop_bg{position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,.6); z-index: 98;}
.tippop_bga{ background: rgba(0,0,0,0); }
.tippop_alert{ position: fixed; z-index: 99; left: 50%; top: 50%;transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size: 14px; text-align: center; min-width: 150px; width: 70%; border-radius: 5px; overflow: hidden;}
.tippop_alert_t{padding: 35px 15px; background: #fff; border-bottom: 1px solid #e8e8e8; text-align: center; font-size: 16px; color: #666; line-height: 20px;}
.tippop_alert_b{ display: block; overflow: hidden; text-align: center; font-size: 16px; color: #18AEF7; background: #fff; line-height: 40px; }
.tippop_confirm_btn{ display: block; float: left; width: 50%; height: 42px; line-height: 42px; font-size: 16px; color: #18AEF7;}
.tippop_confirm_btn:nth-child(1){ border-right:1px solid #e8e8e8;}
.tippop_input_m{ border-bottom: 1px solid #e8e8e8;  background: #fff; padding-bottom: 10px;}
.tippop_input_m .input{ display: block; height: 30px; width: 80%; margin: 0 auto; text-align: center; border:1px solid #eee; border-radius: 3px;}
.tippop_input_t{padding: 15px 15px 10px; background: #fff;text-align: center; font-size: 14px; color: #666; line-height: 20px;}
.tippop .tipload{ width: 16px; margin-right: 6px; vertical-align: middle; position: relative; top: -1px;}
.tippop .text-io{ height: 20px; width: 4px; border-left: 1px solid #fff; border-right: 1px solid #fff; margin:0 auto; vertical-align: middle; -webkit-animation: tippop-rote .8s linear infinite;animation: tippop-rote .8s linear infinite;}
@-webkit-keyframes tippop-rote{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
@keyframes tippop-rote{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.ctrol{ display: block; width: 100%; border:none; }
.btn{ line-height: .48rem; display: block; color: #fff; background: #18AEF7; text-align: center; border-radius: .24rem; font-size: .18rem; }
.btn-dis{ background: #ccc; }

.botmore{ padding: .1rem 0; font-size: .12rem; color: #999; text-align: center;}
.botmore .bmimg{ vertical-align: middle; height: .16rem; width: .16rem; margin-right: .05rem;}
.botmore .done{ display: none; }
.botmore-all .bmimg{ display: none; }
.botmore-all .load{ display: none; }
.botmore-all .done{ display: inline; }

.cm-tabbox{ position: fixed; left: 0; top: 0; z-index: 5; width: 100%; line-height: .44rem; text-align: center; height: .44rem; border-bottom: 1px solid #eee; background: #fff;}
.cm-tabbox .tabls{ color: #666; display: block; float: left; width: 50%;}
.cm-tabbox.thr .tabls{ width: 33.3%;}
.cm-tabbox.four .tabls{ width: 25%;}
.cm-tabbox .tabls-in{ display: inline-block; height: .44rem;border-bottom: 2px solid transparent;}
.cm-tabbox .tabls-ac{ color: #18AEF7;}
.cm-tabbox .tabls-ac .tabls-in,.cm-tabbox .active .tabls-in{ border-bottom: 2px solid #18AEF7;}
.cm-tabbox.scroll{ white-space: nowrap; overflow-x:scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch;}
.cm-tabbox.scroll .tabls{ display: inline-block; width: auto; height: .44rem; float: none; padding: 0 .1rem;}
.cm-tabbox.scroll .tabls-in{ padding: 0 .1rem;}
.cm-tabbox.ptr{ position: relative;}

.cm-state{ width: .48rem; line-height: .14rem; font-size: .1rem; text-align: center;}
.cm-state.g{ color: #00B924; background: #DDFEE3;}
.cm-state.a{ color: #999; background: #EBEBEB;}
.cm-state.b{ color: #18AEF7; background: #DDF3FE;}

.cm-goodlist{ background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-left: .14rem;}
.cm-goodlist .item{ display: block; position: relative; height: 1.26rem; padding: 0 .14rem 0 1.12rem; border-bottom: 1px solid #eee;}
.cm-goodlist .item:nth-last-child(1){ border-bottom:none;}
.cm-goodlist .ipic{ position: absolute; left: 0; top: .14rem; width: .98rem; height: .98rem;}
.cm-goodlist .iimg{ display: block; height: 100%; width: 100%;}
.cm-goodlist .cm-state{ position: absolute; left: 0; top: 0; z-index: 2;}
.cm-goodlist .itil{ padding-top: .1rem; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; font-weight: bold;}
.cm-goodlist .ispm{ overflow: hidden;}
.cm-goodlist .ispl{ margin: 0 .12rem; font-size: .12rem; color: #666; line-height: .2rem;}
.cm-goodlist .ispl:nth-child(1){ margin-left: 0;}
.cm-goodlist .ispl.b{ color: #18AEF7;}
.cm-goodlist .itx1{ font-size: .12rem; line-height: .2rem;white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.cm-goodlist .itime{ font-size: .1rem; line-height: .2rem; padding-top: .05rem; color: #999;}
.cm-goodlist .icred{color: #FF2842;}
.cm-goodlist .cm-statea{position: relative; background: none; padding-top: .08rem; font-size: .12rem; width: auto;text-align: left;}
.cm-goodlist .itila{ white-space: normal; line-height: .18rem; padding: .13rem 0 .05rem;}
.cm-goodlist-line{ padding-left: 0; background: none; border:none;}
.cm-goodlist .item-ot{ margin-bottom: .1rem; padding-left: .14rem; border-bottom: 1px solid #eee; background: #fff; border-top: 1px solid #eee;}
.cm-goodlist .item-ot:nth-last-child(1){ border-bottom:none;}
.cm-goodlist .ibot{position: relative; line-height: .4rem; font-size: .12rem; color: #666;}
.cm-goodlist .ibbtns{ position: absolute; right: .14rem; top: 0; padding-top: .05rem;}
.cm-goodlist .ibbtn{ padding: 0 .1rem; line-height: .3rem; font-size: .12rem; border-radius: .05rem; min-width: .8rem; margin-left: .1rem;}

.cm-blbtn{ display: block; position: fixed; left: 0; bottom: 0; width: 100%; z-index: 5; background: #18AEF7; line-height: .5rem; color: #fff; text-align: center; font-size: .16rem;}
.cm-blbtn .iscan{ position: relative; top: -.01rem; display: inline-block; height: .16rem; margin-right: .05rem;}

.cm-editlines{ border-bottom: 1px solid #eee; border-top: 1px solid #eee; background: #fff; padding-left: .14rem; margin-top: .1rem;}
.cm-editlines-nmt{ margin-top: 0;}
.cm-editlines-nbt{ border-top: none;}
.cm-editlines .eline{ display: block; position: relative; line-height: .44rem; border-bottom: 1px solid #eee;}
.cm-editlines .eline:nth-last-child(1){ border-bottom: none;}
.cm-editlines .elado{ position: absolute; left: 0; top: 0;}
.cm-editlines .elado-line{position: relative;}
.cm-editlines .el-text{ text-align: right; padding: .12rem .14rem .12rem 0; line-height: .2rem;}
.cm-editlines .el-text-dis{ color: #999;}
.cm-editlines .el-input{ padding: 0 .14rem 0 .8rem;}
.cm-editlines .el-inputlg{ padding-left: 1.4rem;}
.cm-editlines .el-ctrol{ display: block; width: 100%; border:none; background: #fff; height: .44rem; text-align: right; border-radius: 0;}
.cm-editlines .elado-line{ position: relative;}
.cm-editlines .el-imgup{ overflow: hidden;}
.cm-editlines .el-imgadd{ position: relative; overflow: hidden; display: block; float: left; height: .8rem; width: .8rem; margin: 0 0 .1rem; border:1px solid #eee; background: url(../images/icon_add.png) no-repeat center center; background-size: .4rem .4rem;}
.cm-editlines .el-imgadd-t{ padding-top: .4rem; font-size: .12rem; color: #BDBDBD; background: url(../images/icon55_addp.png) no-repeat center .12rem; background-size: .38rem .32rem; text-align: center;}
.cm-editlines .el-filect{ position: absolute; left: 0; top: 0; display: block; height: 100%; width: 100%; opacity: 0;}
.cm-editlines .el-textarea{ padding: .1rem .14rem .1rem 0;}
.cm-editlines .el-ctrol-area{ background: #fff; text-align: left; height: .8rem; margin: 0; padding: 0;}
.cm-editlines .el-imgls{ position: relative; float: left; height: .8rem; width: .8rem; margin: 0 .1rem .1rem 0; background-size: cover;}
.cm-editlines .el-imgcl{ position: absolute; right: 0; top: 0; height: .2rem; width: .2rem; background: url(../images/icon_close02.png) no-repeat right top; background-size: .14rem .14rem;}
.cm-editlines .eline-cover:before{content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 100%;}
.cm-editlines .eline-select{padding-right: .1rem;}
.cm-editlines .eline-select:after{content: ""; display: block; position: absolute; right: 16px; top: 50%; height: 8px; width: 8px; border-top: 1px solid #aaa; border-right: 1px solid #aaa; -webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);}
.cm-editlines .el-checks{overflow: hidden; padding-top: 10px; line-height: .3rem;}
.cm-editlines .el-check{display: block; float: left; margin: 0 20px 10px 0; position: relative; color: #666; padding-left: 18px; white-space: nowrap;}
.cm-editlines .el-check:before,.cm-editlines .el-check:after{ position: absolute; left: 0; top: 50%; display: block; content: ""; height: 12px; width: 12px; border:1px solid #aaa; background: #fff; margin-top: -7px;}
.cm-editlines .el-checked:after{ left: 0; height: 12px; width: 12px; background: url(../images/icon_check02.png) no-repeat center center #fff; background-size: .08rem .06rem; border:1px solid #18AEF7; margin-top: -7px;}
.cm-editlines .cm-switch{ float: right;}

.seeimgbox{ position: fixed; z-index: 10; height: 100%; width: 100%; background: #000; left: 0; top: 0; display: none;}
.seeimgbox .imgbox{ position: relative; height: 100%; width: 100%;}
.seeimgbox .botdo{position: absolute; left: 50%; top: 0; background: rgba(0,0,0,.5); color: #eee; border-radius: 0 0 16px 16px; padding:0 14px; font-size: 16px; white-space: nowrap; line-height: 32px; transform:translateX(-50%); -webkit-transform:translateX(-50%); z-index: 3;}
.seeimgbox .siimg{position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center center;}
.seeimgbox .sibox{ position: absolute; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden;}
.seeimgbox .mbox{display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%;transform-origin:0 0; -webkit-transform-origin:0 0;}
.seeimgbox .close{ position: absolute; left: 0; top: 0; z-index: 5;background: rgba(0,0,0,.5); color: #eee; padding: 0 12px 10px 5px; line-height: 24px; border-radius: 0 12px 12px 0;}
.seeimgbox .num{position: absolute; right: 0; top: 0; z-index: 5;background: rgba(0,0,0,.5); color: #eee; padding: 0 5px 0 12px; line-height: 24px; border-radius: 12px 0 0 12px;}

.empty{ text-align: center; padding: 80px 0 10px; color: #999;}
.empty .emimg{ width: 135px;}
.empty .emtext{ padding-top: 10px;}

.cm-pop{ position: fixed; left: 0; top: 0; height: 0; overflow: hidden; width: 100%; background: rgba(0,0,0,0.7); z-index: 10; opacity: 0;}
.cm-popz20{ z-index: 20;}
.cm-pop-active{ opacity: 1; height: 100%;}
.cm-pop .cm-pop-bg{position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
.cm-pop-cont{opacity: 0; transform:translateZ(0) translateY(100%); -webkit-transform:translateZ(0) translateY(100%); transition:all .3s; -webkit-transition:all .3s; background: #fff; border-radius: 10px;}
.cm-pop-mid-cont{ position: absolute; left: 10%; top: 50%; margin-top: -30px; width: 80%; transform:translateZ(0) translateY(-50%) scale(.8,.8); -webkit-transform:translateZ(0) translateY(-50%) scale(.8,.8); }
.cm-pop-active .cm-pop-mid-cont{opacity: 1;transform:translateZ(0) translateY(-50%) scale(1,1); -webkit-transform:translateZ(0) translateY(-50%) scale(1,1);}
.cm-pop-botcont{position: absolute; left: 0; bottom: 0; width: 100%; border-radius: 0; transform:translateZ(0) translateY(101%); -webkit-transform:translateZ(0) translateY(101%);}
.cm-pop-active .cm-pop-botcont{opacity: 1;transform:translateZ(0) translateY(0); -webkit-transform:translateZ(0) translateY(0);}
.cm-pop-top-cont{position: absolute; left: 0; top: 0; border-radius: 0; width: 100%; transform:translateZ(0) translateY(-101%); -webkit-transform:translateZ(0) translateY(-101%);}
.cm-pop-active .cm-pop-top-cont{opacity: 1;transform:translateZ(0) translateY(0); -webkit-transform:translateZ(0) translateY(0);}
.cm-pop-right-cont{position: absolute; right: 0; top: 0; border-radius: 0; height: 100%; transform:translateZ(0) translateX(101%); -webkit-transform:translateZ(0) translateX(101%);}
.cm-pop-active .cm-pop-right-cont{opacity: 1;transform:translateZ(0) translateX(0); -webkit-transform:translateZ(0) translateX(0);}
.cm-pop-full-cont{position: absolute; right: 0; top: 0; border-radius: 0; height: 100%;width: 100%; transform:scale(.8,.8); -webkit-transform:scale(.8,.8); }
.cm-pop-active .cm-pop-full-cont{opacity: 1;  transform:scale(1,1); -webkit-transform:scale(1,1);}

.cm-pop .cm-pop-otil{ display: block; height: 44px;  color: #222; text-align: center; line-height: 44px;}
.cm-pop .cp-btn{ display: block; position: absolute; left: 0; top: 0; font-size: 16px; padding: 0 14px; text-align: center;  color: #3f94ee;}
.cm-pop .cp-btna{ left: auto; right: 0;}
.cm-pop .cp-til{ font-size: 16px; color: #666; font-weight: bold;}
.cm-pop .cm-pop-midclose{ position: absolute; left: 50%; bottom: -.6rem; height: .34rem; width: .34rem; margin-left: -.17rem; background: url(../images/icon_close.png); background-size: 100% 100%;}

.cm-topseatch{ position: relative; width: 100%; background: #fff; border-bottom: 1px solid #eee; height: .48rem;}
.cm-topseatch .inbox{ padding: .08rem .14rem 0;}
.cm-topseatch .ts_ctrol{ display: block; height: .32rem; border:1px solid #eee; width: 100%; background: url(../images/icon_search02.png) no-repeat .1rem center #f9f9f9; background-size: .14rem .14rem; border-radius: .04rem; text-indent: .3rem;}
.cm-topseatch-c{ background: #18AEF7; border-bottom: none;}
.cm-topseatch-c .ts_ctrol{ border: none; background-image: url(../images/icon_search01.png); background-color: #129DE0; color: #fff;}
.cm-topseatch .ts-screen{ position: absolute; right: 0; top: 0; height: .48rem; width: .48rem; background: url(../images/icon55_screen.png) no-repeat center center; background-size: .2rem .29rem;}
.cm-topseatch-screen{ padding-right: .34rem;}
.cm-topseatch-fixed{ position: fixed; left: 0; top: 0; width: 100%; z-index: 3;}


.cm-sortbox{ background: #fff; border-bottom: 1px solid #eee; line-height: .4rem; height: .4rem; text-align: center; overflow: hidden; font-size: .14rem;}
.cm-sortbox .sortls{ background: #fff; display: block; float: left; color: #666; position: relative;}
.cm-sortbox .sortls:after{ content: ""; display: block; height: 14px; width: 1px; background: #dfdfdf; position: absolute; right: 0; top: 50%; margin-top: -7px;}
.cm-sortbox .sortls:nth-last-child(1):after{ display: none;}
.cm-sortbox-two .sortls{ width: 50%;}
.cm-sortbox-thr .sortls{ width: 33%;}
.cm-sortbox-thr .sortls:nth-last-child(1){ width: 34%;}
.cm-sortbox-for .sortls{ width: 25%;}
.cm-sortbox-fiv .sortls{ width: 20%;}
.cm-sortbox .sortls-active,.cm-sortbox .sortls-sortup,.cm-sortbox .sortls-sortdown{ color: #18AEF7;}
.cm-sortbox .sortls_name{display: inline-block; vertical-align: middle; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.cm-sortbox .arw-uds{ display: inline-block; vertical-align: middle; margin-left: 3px; position: relative; margin-top: -2px;}
.cm-sortbox .arw-ud{ display: block; margin: 1px 0; height: 3px; width: 6px; position: relative; overflow: hidden; }
.cm-sortbox .arw-ud:before{ content: ""; display: block; position: absolute; left: 0; height: 0; width: 0; border-width: 3px; border-color: transparent; border-style: solid;}
.cm-sortbox .arw-up:before{bottom:0; border-bottom-color: #666;}
.cm-sortbox .arw-down{ margin-top: 3px;}
.cm-sortbox .arw-down:before{top:0; border-top-color: #666;}
.cm-sortbox .sortls-sortup .arw-up:before{ border-bottom-color: #18AEF7;}
.cm-sortbox .sortls-sortdown .arw-down:before{  border-top-color: #18AEF7;}

.cm-bdlist{ background: #fff; padding-left: .14rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.cm-bdlist .bditem{ display: block; position: relative; padding: 0 .1rem 0 1.04rem; border-bottom: 1px solid #eee;}
.cm-bdlist .bditem:nth-last-child(1){ border-bottom: none;}
.cm-bdlist .bdimgo{ position: absolute; left: 0; top: .14rem; width: .9rem;}
.cm-bdlist .bdimg{ display: block; border-radius: .03rem;}
.cm-bdlist .bdtime{ text-align: center; color: #999; padding-top: .05rem;}
.cm-bdlist .bdname{ overflow: hidden; padding-top: .12rem; text-overflow: ellipsis; white-space: nowrap; font-size: .16rem;}
.cm-bdlist .bdname-rg{ padding-right: .5rem;}
.cm-bdlist .bdrange{ position: absolute; right: .1rem; top: .12rem; font-size: .14rem; color: #caa433;}
.cm-bdlist .bdfo{ padding-top: .06rem; color: #999;}
.cm-bdlist .bdsp{display: inline-block; margin: 0 .07rem; border-left: 1px solid #aaa; height: .1rem;}
.cm-bdlist .bdprice{ color: #FF6C6C;}
.cm-bdlist .bdads{ overflow: hidden; padding: .1rem 0; font-size: 0; line-height: 0; white-space: nowrap;}
.cm-bdlist .bdad{ display: inline-block; background: #eee; font-size: .14rem; line-height: .24rem; padding: 0 .06rem; border-radius: .04rem; margin: 0 .05rem .05rem 0;}
.cm-bdlist .bdad-ac{ background: #18AEF7; color: #fff;}
.cm-bdlist:empty{ display: none;}

.cm-slbox{ position: relative; overflow: hidden; text-align: center; padding: 10px 0; position: relative; background: #f6f6f6;}
.cm-slbox-nom{ position: relative; padding: 0; background: none;}
.cm-slbox-dis:before{ content: ""; display: block; position: absolute; z-index: 3; left: 0; top: 0; height: 100%; width: 100%; opacity: 0; }
.cm-slbox .cp-li{ line-height: 36px; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.cm-slbox .cp-case{ position: relative; overflow: hidden; height: 252px;}
.cm-slbox .cp-ul{ position: relative;}
.cm-slbox .cp-case:before{content: ""; display: block; position: absolute; left: 0; top: 0; height: 108px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(246,246,246,1) 0%,rgba(246,246,246,.4) 100%); background:linear-gradient(180deg,rgba(246,246,246,1) 0%,rgba(246,246,246,.4) 100%); border-bottom: 1px solid #aaa; z-index: 2;}
.cm-slbox .cp-case:after{content: ""; display: block; position: absolute; left: 0; bottom: 0; height: 108px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(246,246,246,.4) 0%,rgba(246,246,246,1) 100%); background:linear-gradient(180deg,rgba(246,246,246,.4) 0%,rgba(246,246,246,1) 100%); border-top: 1px solid #aaa; z-index: 2;}
.cm-slbox .cm-slbox-time{ position: relative; float: left; width: 16.6%;}
.cm-slbox2 .cm-slbox-time{ width: 50%;}
.cm-slbox3 .cm-slbox-time{ width:33%;}
.cm-slbox3 .cm-slbox-time:nth-child(1){ width:34%;}
.cm-slbox5 .cm-slbox-time{ width:20%;}

.cm-swipe{ position: relative;}
.cm-swipe .swipe-cont{ position: relative; z-index: 1; height: 100%; width: 100%; overflow: hidden;}
.cm-swipe .swipe-item{ position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
.cm-swipe .swipe-pos{ position: absolute; z-index: 2; bottom: 10px; width: 100%; text-align: center;}
.cm-swipe .swipe-po{ display: inline-block; margin: 0 3px; height: 8px; width:8px; border-radius: 4px; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,.4); transition:all .3s; -webkit-transition:all .3s;}
.cm-swipe .swipe-po-ac{ background: #18AEF7; width: 16px;}


.cm-pop-screen{ width: 70%; padding-left: .14rem;}
.cm-pop-screen .linebox{ padding-bottom: .5rem;}
.cm-pop-screen .line{ position: relative; border-bottom: 1px solid #eee; padding-right: .14rem;}
.cm-pop-screen .line-cover:after{ content: ""; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index:2;}
.cm-pop-screen .line-arr{ padding-right: .2rem;}
.cm-pop-screen .line-arr:before{ content: ""; display: block; position: absolute; right: .12rem; top: 50%; height: .08rem; width: .08rem; border-top: 1px solid #ccc; border-right: 1px solid #ccc; -webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);}
.cm-pop-screen .lado{ position: absolute; left: 0; top: 0; line-height: .4rem;}
.cm-pop-screen .textr{ padding: .12rem 0; line-height: .2rem; min-height: .4rem; text-align: right; font-size: .12rem;}
.cm-pop-screen .ltil{ line-height: .4rem;}
.cm-pop-screen .lcboxs{ overflow: hidden;}
.cm-pop-screen .lcbox{ display: block; float: left; width: 30%; line-height: .34rem; font-size: .12rem; border: 1px solid #f2f2f2; background: #f2f2f2; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0 5% .1rem 0;}
.cm-pop-screen .lcbox:nth-child(3n){ margin-right: 0;}
.cm-pop-screen .lcbox-active{ background: #fff; border-color: #18AEF7; color: #18AEF7;}
.cm-pop-screen .lrange{ overflow: hidden; padding-bottom: .1rem;}
.cm-pop-screen .lr-inp{ position: relative; display: block; width: 40%; border:1px solid #f2f2f2; border-radius: 0; background: #f2f2f2; height: .34rem; text-align: center; float: left;}
.cm-pop-screen .lr-inp-sp{ position: relative; float: left; height: .34rem; width: 14%;}
.cm-pop-screen .lr-inp-sp:before{ content: ""; display: block; position: absolute; left: 15%; top: 50%; width: 60%; border-top: 1px solid #ddd;}
.cm-pop-screen .botbtn{ position: absolute; left: 0; bottom: 0; width: 100%; overflow: hidden; text-align: center;}
.cm-pop-screen .bbtn{ display: block; float: left; width: 50%; background: #f2f2f2; line-height: .4rem;}
.cm-pop-screen .bbtn:nth-child(2){ background: #18AEF7; color: #fff;}
.cm-pop-screen .lr-inp-cover:after{ content: ""; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 3;}
.cm-pop-screen .lctrol{ text-align: right; display: block; width: 100%; border:none; height: .4rem;}

.cm-share{ text-align: right;}
.cm-share .share-t{ width: 82px; margin-right: 10px; }
.cm-share .share-b{ display: block; clear: both; color: #fff; font-size: 14px; padding:30px 40px 0 0; }

.cm-switch{ display: block; height: 24px; background: #ddd; width: 50px; position: relative; border-radius: 12px; background: #fff; border:1px solid #eee; transition: all .2s; -webkit-transition: all .2s; }
.cm-switch:after{ content: ""; position: absolute; left: 1px; top: 0; height: 22px; width: 22px; border:0 solid #eee; background: #fff; border-radius: 50%; box-shadow: 0 1px 0 1px rgba(0,0,0,.1); transition: all .2s; -webkit-transition: all .2s; }
.cm-switch-active{ background: #18AEF7; border-color: #18AEF7;}
.cm-switch-active:after{left: 26px;}

.cm-peolist{ background: #fff; padding-left: .14rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.cm-peolist .peoitem{ display: block; position: relative; padding: 0 .1rem 0 .84rem; border-bottom: 1px solid #eee;}
.cm-peolist .peoitem:nth-last-child(1){ border-bottom: none;}
.cm-peolist .peoimgo{ position: absolute; left: 0; top: .14rem; width: .7rem;}
.cm-peolist .peoimg{ display: block; border-radius: 50%;}
.cm-peolist .peosta{ text-align: center; color: #18AEF7; padding-top: .08rem;}
.cm-peolist .peoname{ overflow: hidden; display: block; padding-top: .12rem; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; font-size: .16rem;}
.cm-peolist .peoedu{ padding: .08rem 0; color: #999; line-height: .2rem;}
.cm-peolist .peoados{ overflow: hidden;}
.cm-peolist .peoado{ display: block; float: left; background: #eee; padding: 0 .06rem; border-radius: .04rem; margin: 0 .05rem .05rem 0;}
.cm-peolist .peotime{ padding: .1rem 0 .1rem; color: #999;}
.cm-peolist .peotst{ position: relative; float: right; padding-left: .2rem;}
.cm-peolist .peotst:before{ content: ""; display: block; position: absolute; left: 0; top: 0; height: 100%; width: .2rem; background: url(../images/icon55_time.png) no-repeat left center; background-size: .16rem .16rem; opacity: .4;}
.cm-peolist .peotst-yl{ color: #caa433;}
.cm-peolist .peotst-red{ color: #FF6C6C;}
.cm-peolist:empty{ display: none;}
.cm-peolist-n{ background: none; padding-left: 0; border:none}
.cm-peolist .peoitemo{ background: #fff; margin-bottom: .1rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-left: .14rem; }
.cm-peolist-n .peoimg{border-radius: .03rem;}
.cm-peolist-n .peoctime{ padding-top: .05rem; font-size: .12rem; text-align: center; color: #999;}
.cm-peolist-n .peofxs{ padding-bottom: .05rem;}
.cm-peolist-n .peofx{ color: #caa433; margin-left: .08rem;}
.cm-peolist-n .peobot{ overflow: hidden; line-height: .4rem;}
.cm-peolist-n .peobs{ display: inline-block; margin-right: .3rem; color: #caa433; text-decoration: underline;}
.cm-peolist-n .peobsa{ padding-left: .2rem; color: #18AEF7; background: url(../images/icon55_time01.png) no-repeat left center; background-size: .14rem .14rem;}

.cm-typetab{ height: .44rem; padding: 6px 0; background: #fff; border-bottom: 1px solid #eee;}
.cm-typetab .cm-typetab-in{ width: 238px; height: 32px; overflow: hidden; border:1px solid #18aef7; border-radius: 16px; margin: 0 auto; text-align: center;}
.cm-typetab .cm-tt-item{ display: block; float: left; width: 118px; line-height: 30px; font-size: 14px; color: #18aef7;}
.cm-typetab .cm-tt-item.active{ background: #18aef7; color: #fff;}

.arr-r{ position: relative; padding-right: .14rem;}
.arr-r:after{content: ""; display: block; position: absolute; right: 2px; top: 50%; height: 8px; width: 8px; border-top: 1px solid #aaa; border-right: 1px solid #aaa; -webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);}
