/* 红色模板样式 --start--- */
.gb-c{ color: #E14C46!important;}
.gb-bgc{ background-color: #E14C46!important;}
.gb-bdc{border-color:#E14C46!important;}
.gb-ac{color: #E14C46!important;}

.gb-subbgc{ background-color: #ffdddc!important;}
.gb-c-subbgc{color: #E14C46!important; background-color: #ffdddc!important;}

.gb-c-bdc{ color: #E14C46!important;border-color:#E14C46!important;}
.gb-c-bgc{color: #E14C46!important;background-color: #E14C46!important;}
.gb-c-bgc-bdc{color: #E14C46!important;border-color:#E14C46!important;background-color: #E14C46!important;}
.gb-bgc-bdc{background-color: #E14C46!important;border-color:#E14C46!important;}

.active .gb-oac,.gb-oac.active{color: #E14C46!important;}
.active .gb-oac-obdc,.gb-oac-obdc.active{color: #E14C46!important;border-color:#E14C46!important;}

.gb-ct:after{ background-color: #E14C46!important;border-color:#E14C46!important;}

.gb-gradient{background:linear-gradient(180deg,rgba(255,157,86,1) 0%,rgba(225,76,70,1) 100%)!important;}

 .gb-before-bgc:before{background-color: #E14C46!important;}
 .gb-before-subbdc:before{border-color: #ffdddc!important;}
 .gb-after-bdc:after{border-color:#E14C46!important;}

 .gb-dib{display: inline-block!important;}
 .gb-di{display: inline!important;}
 .gb-db{display: block!important;}
 .gb-dno{display: none!important;}
/* 全局具体样式 */
.topseatch_c{background-color: #FF9D56!important;}
.topseatch_c .ts_ctrol{ background-color: #ed914f!important;}
.topseatch .ts_cal{color: #E14C46!important;}
.cm-switch-active{ background: #E14C46!important; border-color: #E14C46!important;}
/* 红色模板样式 --end--- */